<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/watch_face_preview"
        android:label="@string/watch_face_name"
        android:roundIcon="@drawable/watch_face_preview"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Declare this is a watch face -->
        <meta-data
            android:name="com.google.android.wearable.watchface"
            android:resource="@xml/watch_face_info" />
            
        <!-- Specify the WFF XML file -->
        <meta-data
            android:name="com.google.android.wearable.watchface.xml"
            android:resource="@raw/watchface" />
            
        <!-- Preview images -->
        <meta-data
            android:name="com.google.android.wearable.watchface.preview"
            android:resource="@drawable/watch_face_preview" />

        <meta-data
            android:name="com.google.android.wearable.watchface.preview_circular"
            android:resource="@drawable/watch_face_preview" />

    </application>

</manifest>
